.additional-baggage-select {
  width: 100%;
}

.additional-baggage-select--container {
  padding: var(--SPACING-LG-1);
}

.additional-baggage-select__title {
  font-size: var(--FONT-SIZES-C2);
  font-weight: 600;
  margin-top: var(--SPACING-XS-3);
  margin-bottom: var(--SPACING-SM-2);
}

.additional-baggage-select__notice {
  font-size: var(--FONT-SIZES-C2);
  font-weight: 600;
  color: var(--GREY-600);
  margin-top: var(--SPACING-XS-3);
  margin-bottom: var(--SPACING-SM-3);
}
