.duffel-components .cfar-modal-footer {
  margin-top: 16px;
  padding: 16px 24px 24px;
  display: grid;
  column-gap: 12px;
  row-gap: 12px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.duffel-components .cfar-modal-list-item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.duffel-components .cfar-modal-list-item > svg {
  color: var(--SECONDARY, rgb(var(--ACCENT)));
}

.duffel-components .cfar-modal-list-item > p {
  margin: 0;
  padding: 0;
}

/* tablet or greater  */
@media (min-width: 768px) {
  .duffel-components .cfar-modal-footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}
