.duffel-ngs-view_table {
  border-radius: 4px;
  border: 1px solid var(--GREY-100);
  display: table;
  border-collapse: collapse;

  text-align: center;
  cursor: pointer;
}

.duffel-ngs-view_table > thead {
  color: var(--GREY-500);
  background-color: var(--GREY-100);
  font-size: 12px;
  font-weight: 500;
  height: 40px;
}

.duffel-ngs-view_table th:first-of-type {
  border-top-left-radius: 4px;
  border-left: 1px solid var(--GREY-100);
}

.duffel-ngs-view_table th:last-of-type {
  border-top-right-radius: 4px;
  border-right: 1px solid var(--GREY-100);
}

.duffel-ngs-view_table tbody:last-child tr:last-child td:first-child {
  border-bottom-left-radius: 4px;
}

.duffel-ngs-view_table tbody:last-child tr:last-child td:last-child {
  border-bottom-right-radius: 4px;
}

.duffel-ngs-view_table > tbody > tr {
  border-top: 1px solid var(--GREY-100) !important;
}

.duffel-ngs-view_shelf-icon {
  margin-right: 4px;
}
.duffel-ngs-view_column-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
}

.duffel-ngs-view_column-header--selected {
  color: var(--GREY-900);
  font-weight: 500;
}

.duffel-ngs-view_table-data {
  padding: 16px;
  font-size: 16px;
  color: var(--GREY-500);
  width: 115px;
}

.duffel-ngs-view_table-data--selected {
  color: var(--GREY-900);
  font-weight: 600;
}
