.duffel-components .filter-control {
  position: relative;
}

.duffel-components .filter-control__target {
  color: var(--GREY-800);
  fill: var(--GREY-800);
  border: solid 1px var(--GREY-200);
  padding: 4px 12px;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-right: 4px;
  transition: border-color 0.3s linear;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position: relative;
  padding-right: 28px;
  white-space: nowrap;
}

.duffel-components .filter-control__target svg {
  position: absolute;
  right: 2px;
}

.duffel-components .filter-control__target:hover {
  border-color: var(--GREY-400);
}

.duffel-components .filter-control__target:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.duffel-components .filter-control__backdrop {
  z-index: 99;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vw;
  position: fixed;
}

.duffel-components .filter-control__popover {
  background-color: white;
  border: solid 1px var(--GREY-200);
  position: absolute;
  right: 0;
  margin-top: 10px;
  width: 250px;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);
  z-index: 999;
  overflow-y: scroll;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.duffel-components .filter-control__option {
  display: grid;
  padding: 2px 12px;
  border-radius: 4px;
  grid-template-columns: auto 24px;
  column-gap: 8px;
  justify-items: start;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 30px;
  transition: border-color 0.3s linear;
}

.duffel-components .filter-control__option:hover {
  background-color: var(--GREY-100);
}

.duffel-components .filter-control__option:active {
  opacity: 1;
}

.duffel-components .filter-control__option--selected {
  background: var(--GREY-100);
}

.duffel-components .filter-control__option:not(:last-child) {
  margin-bottom: 4px;
}

.duffel-components .filter-control__option > * {
  align-self: center;
}
