.icon-button {
  color: red;
}

.icon-button {
  --button-color: white;

  box-sizing: border-box;
  padding: 4px 2px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;

  background-color: transparent;
  color: var(--GREY-400);
  border: 1px solid transparent;

  transition: background-color 0.3s var(--TRANSITION-CUBIC-BEZIER),
    color 0.3s var(--TRANSITION-CUBIC-BEZIER),
    opacity 0.3s var(--TRANSITION-CUBIC-BEZIER);
}

.icon-button svg {
  /* Using important to take precedence over inline styles on icon */
  display: inline !important;
  height: 20px;
  vertical-align: bottom;
}

.icon-button:disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.icon-button--primary:not(:disabled):hover {
  color: var(--GREY-500);
  background-color: var(--GREY-100);
}

.icon-button--primary:not(:disabled):active {
  color: var(--GREY-700);
  background-color: var(--GREY-200);
}

.icon-button--outlined {
  border: 1px solid #ccccd4;
  color: var(--GREY-900);
  background-color: rgb(var(--WHITE));
}

.icon-button--outlined:not(:disabled):hover {
  border: 1px solid #ababb4;
  background-color: #fbfbfd;
}

.icon-button--outlined:not(:disabled):active {
  background-color: var(--GREY-100);
}
