.duffel-components .seat-map__legend {
  width: calc(100% + var(--SPACING-MD-3));
  min-height: fit-content;
  margin: calc(var(--SPACING-SM-1) * -1) calc(var(--SPACING-SM-2) * -1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: var(--SPACING-MD-3);
  font-size: var(--FONT-SIZES-C2);
  font-weight: 400;
}

.duffel-components .seat-map__legend-item {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  margin: var(--SPACING-SM-1) var(--SPACING-SM-2);
  color: var(--GREY-700);
}

.duffel-components .seat-map__legend-item--symbol .ff-icon {
  margin-right: var(--SPACING-XS-3);
}

.duffel-components .seat-map__legend-seat {
  width: var(--SPACING-MD-1);
  height: var(--SPACING-MD-1);
  border-radius: 5px;
  border: 2px solid var(--GREY-200);
  color: var(--GREY-600);
  background-color: var(--GREY-100);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--SPACING-SM-1);
}

.duffel-components .seat-map__legend-seat--fee-payable {
  background-color: rgba(var(--ACCENT), var(--ACCENT-LIGHT-100));
  border: 2px solid
    var(--TERTIARY, rgba(var(--ACCENT), var(--ACCENT-LIGHT-200)));
}

.duffel-components .seat-map__legend-seat--fee-payable-indicator {
  position: relative;
  top: var(--SPACING-XS-2);
  left: var(--SPACING-XS-2);
  color: var(--TERTIARY, rgba(var(--ACCENT), var(--ACCENT-LIGHT-300)));
}

.duffel-components .seat-map__legend-seat--included {
  background-color: rgba(var(--ACCENT), var(--ACCENT-LIGHT-100));
  border: 2px solid
    var(--TERTIARY, rgba(var(--ACCENT), var(--ACCENT-LIGHT-200)));
}

.duffel-components .seat-map__legend-seat--selected {
  background-color: rgba(var(--ACCENT), var(--ACCENT-LIGHT-1000));
  border: 2px solid
    var(--SECONDARY, rgba(var(--ACCENT), var(--ACCENT-LIGHT-1000)));
}
