.modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #00000059;
  z-index: 999;
  box-sizing: border-box;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s var(--TRANSITION-CUBIC-BEZIER);
}

.modal--content {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  position: fixed;
  bottom: 0;
  height: fit-content;
  width: 100%;
  background-color: rgb(var(--WHITE));
  pointer-events: none;
  transition: opacity 0.3s var(--TRANSITION-CUBIC-BEZIER);
}

.modal--open,
.modal--open .modal--content {
  opacity: 1;
  pointer-events: all;
}

.modal-body {
  max-height: 250px;
  padding: 0px 24px 24px;
  overflow: scroll;
  border-block: solid 1px var(--GREY-200);
}

/* 667px is the height of https://www.ios-resolution.com/iphone-se-3rd-gen/ */
@media (min-height: 667px) {
  .modal-body {
    max-height: 350px;
  }
}

/* 812px is the height of https://www.ios-resolution.com/iphone-13-mini/ */
@media (min-height: 812px) {
  .modal-body {
    max-height: 500px;
  }
}

/* 900px is the size of https://blisk.io/devices/details/macbook-air */
@media (min-height: 900px) {
  .modal-body {
    max-height: 65vh;
  }
}

.modal--close-button {
  position: absolute;
  top: 16px;
  right: 12px;
}

/* tablet or greater  */
@media (min-width: 768px) {
  .modal {
    padding: 24px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal--content {
    position: relative;
    border-radius: 12px;
    max-width: 640px;
    margin: auto;
  }
}

/* Handle reduced motion preference */
@media (prefers-reduced-motion: reduce) {
  .modal,
  .modal--content {
    transition: none;
  }
}
