.ngs-shelf-info-card_container {
  padding: 36px;
  border-radius: 4px;
  background-color: white;
}

.ngs-shelf-info-card_title {
  font-size: 14px;
  color: var(--GREY-900);
  font-weight: 600;
  margin-bottom: 8px;
  margin-top: 12px;
}

.ngs-shelf-info-card_text {
  font-size: 12px;
  color: var(--GREY-600);
  font-weight: 400;
}
