.duffel-components .ngs-table_table {
  border-radius: 4px;
  border: 1px solid var(--GREY-100);
  display: table;
  border-collapse: collapse;
  width: 1280px;
  table-layout: fixed;

  text-align: center;
  cursor: pointer;
  position: relative;
}

.duffel-components .ngs-table_table > thead {
  color: var(--GREY-500);
  background-color: var(--GREY-100);
  font-size: 12px;
  font-weight: 500;
  height: 40px;
}

.duffel-components .ngs-table_table th:first-of-type {
  border-top-left-radius: 4px;
  border-left: 1px solid var(--GREY-100);
}

.duffel-components .ngs-table_table th:last-of-type {
  border-top-right-radius: 4px;
  border-right: 1px solid var(--GREY-100);
}

.duffel-components
  .ngs-table_table
  tbody:last-child
  tr:last-child
  td:first-child {
  border-bottom-left-radius: 4px;
}

.duffel-components
  .ngs-table_table
  tbody:last-child
  tr:last-child
  td:last-child {
  border-bottom-right-radius: 4px;
}

.duffel-components .ngs-table_table > tbody > tr {
  border-top: 1px solid var(--GREY-100) !important;
}

.duffel-components .ngs-table_shelf-icon {
  margin-right: 4px;
}

.duffel-components .ngs-table_sort-icon {
  margin-left: 4px;
}

.duffel-components .ngs-table_column-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;

  position: relative;
}

.duffel-components .ngs-table_column-header--selected {
  color: var(--GREY-900);
  font-weight: 500;
}

.duffel-components .ngs-table_table-data {
  padding: 16px;
  font-size: 16px;
  color: var(--GREY-500);
  width: 115px;
}

.duffel-components .ngs-table_table-data--selected {
  color: black;
  font-weight: 500;
}

.duffel-components .ngs-table_table-data--details {
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 12px;
}

.ngs-slice-fare-card_mixed-cabins {
  font-size: 12px;
  color: var(--YELLOW-900);
  fill: var(--YELLOW-900);
  background-color: var(--YELLOW-100);
  padding: 6px;
  display: flex;
  column-gap: 8px;
  width: fit-content;
  border-radius: 4px;
  align-items: center;
  align-self: center;
  margin-inline: auto;
  position: relative;
  white-space: nowrap;
  cursor: help;
}

.duffel-components
  .ngs-slice-fare-card_mixed-cabins:hover
  .ngs-slice-fare-card_mixed-cabins-popover {
  display: grid;
}

.duffel-components .ngs-slice-fare-card_mixed-cabins-popover {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 2px solid var(--GREY-100);
  border-radius: 4px;
  padding: 12px 16px;
  width: 175px;
  color: black;
  top: 30px;
  right: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  grid-template-columns: 1fr;
  row-gap: 4px;
}

.duffel-components .ngs-table_slice-info {
  padding: 24px 16px 20px 16px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: auto;
}

.duffel-components .ngs-table_slice-info > div:first-child {
  margin-bottom: 16px;
}

.duffel-components .ngs-table_expanded {
  padding: 0;
  cursor: auto;
  max-width: 1280px;
}

.duffel-components .ngs-table_expanded > div {
  background-color: var(--GREY-50);
  padding: 32px;
  display: flex;
  align-items: stretch;
  overflow-x: auto;
}

.duffel-components .ngs-table_expanded > div > button:first-child {
  margin-left: auto;
}
.duffel-components .ngs-table_expanded > div > button:last-child {
  margin-right: auto;
}

.duffel-components .ngs-table_table-data--expanded {
  background-color: var(--GREY-50);
}

.duffel-components .ngs-table_expanded .ngs-slice-fare-card_container {
  background-color: white;
}

.duffel-components
  .ngs-table_expanded
  .ngs-slice-fare-card_container
  + .ngs-slice-fare-card_container {
  margin-left: 32px;
}

/* Added important here to overwrite the slice card styles */
.duffel-components .ngs-table_card--alternative {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}

.duffel-components .ngs-table_column-header-tooltip {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: -150px;
  left: 25px;
  width: 420px;
  text-align: left;
}

.duffel-components .ngs-table_column-header-tooltip--left {
  left: -300px;
}

.duffel-components
  .ngs-table_column-header:hover
  .ngs-table_column-header-tooltip {
  visibility: visible;
}

.duffel-components .ngs-table_slice-details-button {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-family: var(--FONT-FAMILY);

  color: var(--GREY-500);
  text-decoration: underline;
  font-size: 10px;
  margin-top: 16px;
}

.duffel-components .ngs-table_th {
  width: 300px;
  padding-block: 18px;
}

.duffel-components .ngs-table_th--sticky {
  position: sticky;
  top: 0;
  background-color: var(--GREY-100);
  z-index: 1;
}
