.duffel-components .offer-slice-modal-title {
  color: var(--GREY-900, #161618);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}

.duffel-components .offer-slice-modal-divider {
  height: 1px;
  background: var(--GREY-200, #e2e2e8);
  border: none;
  margin: 0;
}

.duffel-components .offer-slice-modal-padding {
  padding: 20px 24px;
}

.duffel-components .offer-slice-modal-footer {
  padding: 8px;
}
