.map-element--exit {
  color: var(--GREY-400);
  width: 100%;
  height: var(--SPACING-LG-3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.map-element--exit--right {
  justify-content: flex-end;
}

.map-element--empty {
  min-width: var(--SPACING-LG-2);
  height: var(--SPACING-LG-2);
}

@media only screen and (min-width: 768px) {
  .map-element--empty {
    min-width: var(--SPACING-LG-3);
    height: var(--SPACING-LG-3);
  }
}

.map-element + .map-element {
  margin-left: var(--SPACING-XS-2);
}

@media only screen and (min-width: 768px) {
  .map-element + .map-element {
    margin-left: var(--SPACING-SM-1);
  }
}

.map-section {
  display: flex;
  justify-content: center;
  padding: var(--SPACING-XS-1) 0;
}

@media only screen and (min-width: 768px) {
  .map-section {
    padding: var(--SPACING-XS-2) 0;
  }
}

.map-section--left {
  border-left: 2px solid var(--GREY-200);
  padding-left: var(--SPACING-SM-3);
}

.map-section--left.map-section--wing {
  box-shadow: -19px 0px 0px 0px var(--GREY-200);
}

.map-section--right {
  border-right: 2px solid var(--GREY-200);
  padding-right: var(--SPACING-SM-3);
}

.map-section--right.map-section--wing {
  box-shadow: 19px 0px 0px 0px var(--GREY-200);
}

.map-section__aisle {
  display: flex;
  justify-content: center;
  color: var(--GREY-600);
  font-size: var(--FONT-SIZES-C3);
  line-height: var(--SPACING-MD-2);
}

@media only screen and (min-width: 768px) {
  .map-section__aisle {
    font-size: var(--FONT-SIZES-C2);
    line-height: var(--SPACING-MD-3);
  }
}
