.seat-info {
  --INFO-CARD-MARGIN: 10px;
  background-color: rgb(var(--WHITE));
  padding: 24px;
  padding-bottom: 24px;
  min-width: 220px;
  border: 1px solid rgba(59, 64, 86, 0.1);
  border-radius: 8px;
  background: white;
  z-index: 999;
  box-shadow: 0px 1px 4px rgba(59, 64, 86, 0.3);
  position: fixed;
  width: calc(100% - 2 * var(--INFO-CARD-MARGIN));
  left: var(--INFO-CARD-MARGIN);
  box-sizing: border-box;

  /* 116px because that's the footer height */
  bottom: calc(116px + var(--INFO-CARD-MARGIN));
}

/* tablet or greater  */
@media (min-width: 768px) {
  .seat-info {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    /* 198px because that's the footer height + the white space below it */
    bottom: calc(198px + var(--INFO-CARD-MARGIN));

    /* 640px because that's the max width of the modal */
    width: calc(640px - 2 * var(--INFO-CARD-MARGIN));
  }
}

.seat-info__details {
  font-size: var(--FONT-SIZES-C1);
  color: var(--GREY-900);
  font-weight: normal;
  text-transform: none;
  display: flex;
  justify-content: space-between;
}

.seat-info__details > span {
  flex-grow: 1;
  margin: 0 var(--SPACING-SM-1);
}

.seat-info__disclosure {
  font-size: var(--FONT-SIZES-C3);
  color: var(--GREY-600);
  line-height: 150%;
  text-transform: none;
  font-weight: normal;
  margin-top: var(--SPACING-SM-1);
}

.seat-info__details + .seat-info__disclosure {
  padding-top: var(--SPACING-SM-3);
  border-top: 1px solid var(--GREY-200);
  margin-top: var(--SPACING-SM-3);
}
