.duffel-components .seat-map {
  background-color: rgba(var(--WHITE), 1);
  padding: var(--SPACING-SM-3);
  padding-bottom: 80px; /* To account for the fixed footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  min-height: 100%;
  margin-inline: auto;
}

.duffel-components .seat-map__legend-container {
  margin-bottom: var(--SPACING-MD-3);
  width: fit-content;
}

.duffel-components .seat-map__map-container {
  display: grid;
  grid-template-columns: repeat(var(--CABIN-AISLES), auto var(--SPACING-LG-1)) auto;
  grid-column-gap: var(--SPACING-XS-2);
  align-items: center;
  width: min-content;
  margin: 0 var(--SPACING-SM-2);
}
