.duffel-components .passenger-selection-segment {
  margin: var(--SPACING-LG-1) 0 0;
  padding: 0 0 var(--SPACING-LG-1);
  border-bottom: 1px solid var(--GREY-200);
  font-family: var(--FONT-FAMILY);
}

.duffel-components .passenger-selection-segment:first-child {
  margin-top: 0;
}
