.duffel-components .slice-summary {
  display: grid;
  grid-template-columns: auto 1fr 20px auto;
  column-gap: 16px;
  align-items: center;
  width: 100%;
}

.duffel-components .slice-summary__time-and-place {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.duffel-components .slice-summary__time-and-place--align-end {
  align-items: end;
}

.duffel-components .slice-summary__time {
  color: var(--GREY-900, #161618);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}

.duffel-components .slice-summary__place {
  color: var(--GREY-500, #69696b);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 15px */
}

.duffel-components .slice-summary__duration {
  color: var(--GREY-500, #86868e);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  text-align: center;
}

.duffel-components .slice-summary__stops {
  color: var(--GREY-900, #161618);
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 15px */
  margin-inline: 30px;
  text-align: center;
}

.duffel-components .slice-summary__flight-line-container {
  display: grid;
  margin-block: 6px;
  column-gap: 4px;
  align-items: center;
}

.duffel-components .slice-summary__flight-line {
  position: relative;
}

.duffel-components .slice-summary__flight-line-color {
  height: 1px;
  background: var(--GREY-200, #ebebf0);
  /* width: calc(100% - 24px); */
}

.duffel-components .slice-summary__flight-line-color--full-width {
  width: 100%;
}

.duffel-components .slice-summary__plane {
  margin-left: -8px;
  fill: var(--GREY-400);
}

.duffel-components .slice-summary__flight-line-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--GREY-900, #161618);
  margin-left: 7px;
}
