@import "rc-slider/assets/index.css";

.duffel-components .rc-slider-handle {
  border-color: black !important;
  opacity: 1 !important;
}

.duffel-components .rc-slider-handle:focus,
.duffel-components .rc-slider-handle-dragging {
  box-shadow: 0 0 0 3px lightgrey !important;
}

.duffel-components .rc-slider-track {
  background-color: black !important;
}

.duffel-components .rc-slider-dot-active {
  border-color: black !important;
}
