dist
cdn-dist
react-dist
node_modules
/storybook-static
.DS_Store
.env.local
tsconfig.tsbuildinfo
__generated__*
yarn-error.log
.env.build
.next

# Yarn 4 files
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# A place for local certificate files
.local-ssl