.duffel-components {
  --GREY-100: #f7f5f9;
  --GREY-200: #e2e2e8;
  --GREY-300: #e2e8f0;
  --GREY-400: #ababb4;
  --GREY-500: #86868e;
  --GREY-600: #696972;
  --GREY-700: #4b4b55;
  --GREY-900: #29292e;
  --RED: #ef4444;
  --BLACK: 0, 0, 0;
  --WHITE: 255, 255, 255;
  --ACCENT: 22, 22, 24;
  --ACCENT-LIGHT-100: 0.08;
  --ACCENT-LIGHT-200: 0.24;
  --ACCENT-LIGHT-300: 0.48;
  --ACCENT-LIGHT-800: 0.8;
  --ACCENT-LIGHT-1000: 1;
  --ACCENT-CONTRASTING-COLOR: #fff;
  --GREEN-100: #ecfdf5;
  --GREEN-200: #10b981;
  --GREEN-300: #064e3b;
}
