@import "./typography.css";
@import "./spacing.css";
@import "./colors.css";
@import "./transitions.css";
@import "./font-families.css";

@import "./components/AdditionalBaggage.css";
@import "./components/AdditionalBaggageSelect.css";
@import "./components/BaggageDisplay.css";
@import "./components/Button.css";
@import "./components/Card.css";
@import "./components/Counter.css";
@import "./components/Loader.css";
@import "./components/Modal.css";
@import "./components/PassengerSelect.css";
@import "./components/PassengersLayout.css";
@import "./components/Segment.css";
@import "./components/SelectionSegment.css";
@import "./components/Summary.css";

.duffel-components {
  --BUTTON-RADIUS: 5px;
  --TRANSITION-CUBIC-BEZIER: cubic-bezier(0.25, 0.8, 0.25, 1);

  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-family: var(--FONT-FAMILY);
  overflow: hidden;
  height: 100%;
}
