/* VSPACE */
.duffel-components .v-space {
  display: flex;
  flex-direction: column;
}

.duffel-components .v-space--0 {
  row-gap: 0;
}

.duffel-components .v-space--4 {
  row-gap: 4px;
}

.duffel-components .v-space--8 {
  row-gap: 8px;
}

.duffel-components .v-space--12 {
  row-gap: 12px;
}

.duffel-components .v-space--16 {
  row-gap: 16px;
}

.duffel-components .v-space--24 {
  row-gap: 24px;
}

/* HSPACE */
.duffel-components .h-space {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.duffel-components .h-space--0 {
  column-gap: 0;
}

.duffel-components .h-space--4 {
  column-gap: 4px;
}

.duffel-components .h-space--8 {
  column-gap: 8px;
}

.duffel-components .h-space--12 {
  column-gap: 12px;
}

.duffel-components .h-space--16 {
  column-gap: 16px;
}

.duffel-components .hspace--align-center {
  align-items: center;
}

.duffel-components .hspace--space-between {
  justify-content: space-between;
}

.duffel-components .hspace--justify-end {
  justify-content: end;
}

.duffel-components .hspace--justify-center {
  justify-content: center !important;
}

/* PADDING */
.duffel-components .padding-8 {
  padding: 8px;
}

.duffel-components .padding-12 {
  padding: 12px;
}

.duffel-components .padding-inline-8 {
  padding-inline: 8px !important;
}

/* MARGIN */
.duffel-components .margin-t-8 {
  margin-top: 8px;
}

.duffel-components .margin-b-12 {
  margin-bottom: 12px;
}

.duffel-components .margin-x-12 {
  margin-inline: 12px;
}

/* TEXT */
.duffel-components .font-size-14 {
  font-size: 14px;
}

/* WIDTH */
.duffel-components .width-100 {
  width: 100%;
}
